server:
  port: 8080


spring:
  datasource:
    url: jdbc:mysql://localhost:3360/ordersystem
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


jwt:
  secret: your-super-secret-key-your-super-secret-key
  expiration: 8640000